{% extends "base/index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/list.css">
{% endblock %}

{% block content %}
    <div class="list-container">
        <h1>{{ list_title }}</h1>
        <ul>
            {% for item in items %}
                <li>
                    Date:
                    {% if item.date_shipped_from_inventory %}
                        {{ item.date_shipped_from_inventory }}
                    {% else %}
                        {{ item.date_received_into_inventory }}

                    {% endif %}
                    <br>Quantity: {{ item.total_quantity }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
