{% extends "base/index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/list.css">
{% endblock %}

{% block content %}
    <div class="list-container">
        <h1>{{ list_title }}</h1>
        <ul>
            {% for item in items %}
                <li>
                    Date: {{ item.date_shipped_from_inventory }}<br>Quantity: {{ item.total_quantity_by_day }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
